.Container{
    display: flex;
justify-content: space-between;
}

.m01 
{ 
 
  height: 25px;
  font-size: large;
    color: gray;
}
.m02 { 
 
  height: 25px;
  font-size: large;
    color: gray;
}


.m03{ 
 
  height: 25px;
    color: blue;
    font-size: large;
  }
.m04{ 
 
  height: 25px;
    color: blue;
    font-size: large;
  }
.m05{ 
 
  height: 25px;
    color: blue;
    font-size: large;
  }
.m06 { 
 
  height: 25px;
    color: blue;
    font-size: large;
  }


  .m07 { 
    
    height: 25px;
    font-size: large;
    color: green;
  }
  .m08 { 
  
    height: 25px;
    font-size: large;
    color: green;
  }
  .m09 { 
    
    height: 25px;
    font-size: large;
    color: green;
  }
  .m10 { 
   
    height: 25px;
    font-size: large;
    color: green;
  }


  .m11{ 
     
    height: 25px;
    font-size: large;
    color: red;
  }
  .m12 { 
     
    height: 25px;
    font-size: large;
    color: red;
  }
  
 .reset {
height: 70px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 }
 .reset_button {
   height: 50px;
   width: 200px;
   border: 4px solid black;
   display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 }
 
